streamlit

pytesseract
pillow
opencv-python
numpy

python-dotenv
requests
spacy

transformers
torch
huggingface_hub>=0.23.0

pdf2image
python-docx
pymupdf
pandas 
PyPDF2

sentence-transformers
faiss-cpu  

